*{
    margin: 0px;
    padding: 0px;
    font-family:Arial, Helvetica, sans-serif;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main{
    text-align: center;
    border-radius: 20px;
    padding: 20px;
    margin-top: 20px;
    height: 55vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(217, 217, 217);
    box-shadow: 0px 0px 20px rgb(101, 101, 101);
}


.img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    overflow: hidden;

}

.main img{
    height: 250px;
    width: 200px;
    background-size: cover;
}


h1{
    margin-bottom: 10px;
}

hr{
    width: 12vw;
    border: 3px solid rgb(48, 200, 255);
    border-radius: 5px;
}

#name{
    color: #000;
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

#designation{
    color: rgb(99, 195, 255);
    font-weight: 600;
    letter-spacing: 2px;
}

.icons{
    margin-top: 10px;
    display: flex;
    gap: 10px;
    
}

.icon{
    height: 10px;
    width: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    background-color: gray;
}

#random{
    cursor: pointer;
    margin-top: 10px;
    border: 2px solid rgb(100, 221, 255);
    padding: 5px 10px;
    border-radius: 10px;
    background-color: white;
}